[submodule "front-end"]
	path = front-end
	url = https://github.com/revaturelabs/interview-tracker-frontend.git
	branch = dev
[submodule "interview-service"]
	path = interview-service
	url = https://github.com/revaturelabs/interview-service.git
	branch = dev
[submodule "dev-services"]
	path = dev-services
	url = https://github.com/revaturelabs/interview-tracker-dev-services.git
	branch = dev
